.login{ 
    width: 100%;
    h1{
        font-size: 25pt;
        font-weight: 400;
        padding-top: 50pt;
        color:#008037;
        width:100%;
        text-align: center;
        padding-bottom: 3%;
    }
    .loginbox{
        padding: 5%;
        max-width: 500px;
        min-width: 500px;
        border: 1px solid grey;  
        margin-left: 40px;
        max-height: 300px;
        min-height: 300px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
        form{
            input{
                width: 400px;  
                height: 30px;  
                border: none;   
                padding-left: 8px;  
                margin-left: auto;
                margin-right: auto;
                border: 1px solid grey;
                font-size: 17px; 
                border-radius: 5px;
                margin-bottom: 40px;
            }
            button{
                width: 30%;  
                height: 30px;  
                border: none;  
                border-radius: 5px;
                  
                color: white;  
                background-color: #008037;
                margin-left: auto;
                margin-right: auto;
                font-size: 17px; 
                cursor: pointer;
            }
        }
        h3{
            padding-top: 60px;
            padding-bottom: 2%;
            margin-left: auto;
            margin-right: auto;
            color: #008037;  
            font-weight: 500;
            font-size: 12pt;
        }
        
        button.register{
            width: 20%;  
            height: 30px;  
            border: none;  
            border-radius: 5px;  
            color: #008037;  
            border: 1px solid #008037; 
            margin-left: auto;
            margin-right: auto;
            font-size: 17px; 
            cursor: pointer;
            margin-top: 20px;
        }
    }
}
